body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F2E4A4;
  }
    code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
.App {
    background-color: #F2E4A4;
    max-width: 992px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #2A2B24;
    background-color: #801B14;
    padding: 10px 20px;
}
.nav-menu li {
    display: inline-block;
}
.nav-menu-link {
    display: inline-block;
    margin: 5px;
    border:1px solid #2A2B24;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px 8px;
    background-color: #FFE8B7;
    text-transform: uppercase;
}
.nav-menu-link:hover {
    background-color: #bbE9B7;
}
.nav-menu-link.active {
  background-color:white;
}
.logo {
    float: left;
    color:white;
}
.main-content {
  background-color: white;
  padding: 20px;
}
.home-image {
  width: 100%;
  height: 500px;
  background-image: url('https://images.pexels.com/photos/1509428/pexels-photo-1509428.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500/');
  background-size: cover;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.thumbnail-container {
  display: flex;
  justify-content: space-around;
  width: 100%;

}

.home-thumbnail-1,
.home-thumbnail-2,
.home-thumbnail-3 {
  width: 100%;
  height: 220px;
  margin: 10px;
  filter: grayscale(50%);
  background-size: cover;
  transition: all .3s ease-in-out;
 }

 .home-thumbnail-1:hover,
.home-thumbnail-2:hover,
.home-thumbnail-3:hover {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  cursor: pointer;
  width: 120%;
 }

 
 .home-thumbnail-1 {
  background-image: url('https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
 }
 .home-thumbnail-2 {
  background-image: url('https://images.pexels.com/photos/193057/pexels-photo-193057.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
 }
 .home-thumbnail-3 { background-image: url('https://images.pexels.com/photos/84763/pexels-photo-84763.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');}

